.swal-overlay {
  z-index: 999999999999;
}

.swal2-container.swal2-backdrop-show,
.swal2-container.swal2-noanimation {
  z-index: 11000;
}
:host ::ng-deep .swal2-container {
  z-index: 300000 !important;
}
.xx {
  z-index: 999;
  
}
.type::after {
  content: '|';
  animation: cursor 5s infinite step-start;
}